data/models/fast_embed/fast-bge-base-en/model_optimized.onnx
data/local_vector_memory/collection/declarative/storage.sqlite
data/local_vector_memory/collection/episodic/storage.sqlite
data/local_vector_memory/collection/procedural/storage.sqlite

data/datasets/s1/S1_E1_A1.mat
data/datasets/s1/S1_E3_A1.mat
data/datasets/s1/S1_E2_A1.mat
